body, html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 2em;
}

h1, h2, h3, h4, h5, h6 li, ol, ul p, a {
	margin: 0 !important;
	padding: 0!important;
}


/*=================================*/
/*==========Register Page==========*/
/*=================================*/

.le-drank {
	margin-top: 1em;
	margin-bottom: 1em;
}

.datepicker {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.datepicker::placeholder {
	color: #ccc;
}

.password-input-wrong::focus {
	color: 1px solid red !important;
}

/*================================*/
/*==========Landing Page==========*/
/*================================*/


.landing-letters {
	min-height: 390px;
	vertical-align: middle;
	display: table;
	table-layout: fixed;
}

.landing-letters h1 {
	display: table-cell;
	vertical-align: middle;
}

.landing-side-column li {
	color: lightblue;
}

.landing-side-column ul > li {
	color: darkblue;
}


/*================================*/
/*===========Home Page============*/
/*================================*/

.main-newsfeed-fieldnote {
	border: 1px solid lightblue;	
}

/*================================*/
/*===========Home Page============*/
/*================================*/

.home-books-container {
	min-height: 300px;
}

.home-books {
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  bottom: 0;
}

.home-books div {
	border: 2px solid black;
}

.home-newsfeed {
	border: 2px solid black;
	min-height: 250px;
}

.home-globe {
	padding: 0;
	background-image: url('../images/home-globe.jpeg');
	min-height: 340px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 300px; 
}

.home-margin-bottom {
	margin-bottom: 10em;
}

#map {
	margin-bottom: 10em;
}


/*================================*/
/*======Field Journal Page========*/
/*================================*/


.list-field-journal-containers {
	min-height: 300px;
	border: 2px solid black;
}

svg {
	font: 10px sans-serif;
}


/*=================================*/
/*===========Globe Page============*/
/*=================================*/

#map {
	height: 100%;
}

#globe-input {
	margin-bottom: 1em;
}















