body, html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 2em;
}

h1, h2, h3, h4, h5, h6 li, ol, ul p, a {
	margin: 0 !important;
	padding: 0!important;
}

#home-container {
	background: url(../images/main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-row,
.fieldJournal-row,
.drinkingBuddies-row,
.globe-row {
	min-height: 800px;
}

.drinkingBuddies-row,
.fieldJournal-row {
	height: auto !important;
}

.state-views {
	margin-top: 2em;
}

.lead {
	font-size: 16px;
}

#main-view {
	background-color: rgba(0,0,0,0.4);
}

.state-heading {
	color: white;
}

.nav-tabs {
	border-bottom: 2px solid #f0ad4e;
	margin-left: 10em;
	margin-right: 10em;
}

.nav-item {	
	width: 20%;
	text-align: center;
}

.nav-item:nth-child(2) {
	margin-left: 2em;
}

.nav-link {
	font-size: 20px;
	color: white;
}


/*=================================*/
/*==========Register Page==========*/
/*=================================*/

.le-drank {
	margin-top: 1em;
	margin-bottom: 1em;
}

.datepicker {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.datepicker::placeholder {
	color: #ccc;
}

.password-input-wrong::focus {
	color: 1px solid red !important;
}

/*================================*/
/*==========Landing Page==========*/
/*================================*/


.landing-letters {
	min-height: 390px;
	vertical-align: middle;
	display: table;
	table-layout: fixed;
}

.landing-letters h1 {
	display: table-cell;
	vertical-align: middle;
}

.landing-side-column li {
	color: lightblue;
}

.landing-side-column ul > li {
	color: darkblue;
}


/*================================*/
/*===========Main Page============*/
/*================================*/

.main-content {
	height: 100%;
}

.main-profile-image {
	height: 275px;
	width: 275px;
	background-color: white;
	position: relative;
	display: inline-block !important;
	margin: auto !important;
}

.main-profile-picture {
	height: 275px;
	width: 275px;	
}

.main-profile-image-camera {
	margin-top: 10px;
	margin-right: 10px;
}

.profile-image-1 {
	position: absolute;
	top: 0;
	right: 0;
}

.main-profile-display {
	border-radius: 3px;
	padding: 1em;
	background-color: white;
}

.main-profile-user-description {
	padding-left: 0;
}

.main-profile-user-description p {
	margin-bottom: 0 !important;
}

.news-feed-drink-image {
	max-height: 50px;
	max-width: 50px;
}

.main-newsfeed-fieldJournal {
	border: 1px solid lightblue;	
	height: 226px !important;
	padding: 1em !important;
}

.main-newsfeed-fieldjournal .thumbnail {
	margin-left: 25px;
	margin-bottom: 0;
}

.main-selected-fieldnote-image {
	max-width: 50px;
	max-height: 50px;
}

.main-news-feed {
	bottom: 0;
	margin-top: 2em;	
	overflow: scroll;
}

.main-newsfeed-content-row {
	border-left: 4px solid #f0ad4e;
	border-top: 4px solid #337ab7;
	background-color: white;
	border-radius: 0 0 5px;
	margin-top: 15px;

}

.main-newsfeed-profile-picture {
	height: 65px;
	width: 65px;
	margin-top: 1em;
}

.main-newsfeed-entry-descriptions {
	margin-top: 1em;
}

.main-news-feed-first-col p {
	margin-bottom: 0;
}

.main-news-feed-first-col + p:first-child {
	font-size: 18px;
}

.main-news-feed-first-col p:last-child {
	font-size: 14px;
	color: lightgrey;
}

.home-newsfeed {	
	max-height: 600px;
	overflow: scroll !important;
}

.newsFeed-detailed-view .thumbnail {
	object-fit: cover;
}

.newsFeed-detailed-view .row1 img {
	height: 100%;
}


/*================================*/
/*======Field Journal Page========*/
/*================================*/


.list-field-journal-containers {
	min-height: 300px;
	border: 2px solid black;
}

.list-field-journal-pics {
	height: 396.63px;
	margin: .5em auto;
	padding: .5em;
	position: relative;	
}

.list-field-journal-pics img {
	height: 100%;
	width: 100%;
	margin: auto;
	border: 1px solid tan;
}

.img-frame {
	opacity: 1;
	height: 396.63px;
	width: 100%;
	margin: auto;
}

.fieldJournal-list-pic-details {
	position: absolute;
	display: inline-block;	
	top: 0;
	left: 0;
	height: 300px;
	width: 100%;
}

.fieldJournal-list-pic-details-container {
	height: 100%;
	width: 300px;
	margin: auto;
}

.fieldJournal-list-pic-details-container .row {
	height: 100%;
	position: relative;
}

.fieldJournal-pic-details-titleLocation-row {
	height: 100%;
	width: 100%;
	display: table;
  table-layout: fixed;
}

.fieldJournal-pic-details-titleLocation {
	display:table-cell;
  vertical-align:middle;
  text-align:center;
  margin-top: 7em;
}

.fieldJournal-list-pic-details-container .btn {
	font-size: 20px;
	color: #285a85;
}

.fieldJournal-pic-detail-likeComment {	
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 1em;
}

.fieldjournal-new-entry-rating {
	margin-top: 20px !important;
	font-weight: bold;
	bottom: 0
}

svg {
	font: 10px sans-serif;
}

.step3-row1 {
	margin-top: 1em;
}

.step3-row1 small {
	margin-top: 1em;
	margin-bottom: 1em;
}

.step3-row2 {
	margin-top: 2em;
}

/*========================================*/
/*========New Field Journal Entry=========*/
/*========================================*/

.new-fieldJournal-overall-row {
	min-height: 400px;
}

.new-fieldJournal-overall-row .btn-group-vertical {
	margin-top: 100px;
}

.fieldJournal-create-details-row {
	height: 365px;
}

.fieldJournal-new-dummy-layout {
	bottom: 0;
}

.dummyView-col {
	background-color: white;
	padding: 1em;
	border-radius: 5px;
}

.step1-row {
	margin-top: 10em;
}

.dummyView-senses {
	height: 200px;
	display: table;
}

.dummyView-senses p {
	vertical-align: middle;
  display: table-cell;
}

.step4-canvas-container {
	width: 208px;
	height: 275px;
	margin: auto;
	margin-top: 1em !important;
	background-color: lightgrey;
}

.step4-left-side {
	margin-top: 4em !important;
}


/*===============================*/
/*========Custom Slider==========*/
/*===============================*/

/*pre-slide bar*/
.custom-slider.rzslider .rz-bar {
  background: #337ab7;
  height: 2px;
}

/*post-slide*/
.custom-slider.rzslider .rz-selection {
  background: #f0ad4e;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-ceil {
  font-weight: bold;
  color: #337ab7;
  display: none;
}

.custom-slider.rzslider .rz-floor {
  font-weight: bold;
  color: #f0ad4e;
  display: none;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: orange;
}


/*=================================*/
/*======Entry Details Modal========*/
/*=================================*/


#detailed-pic-modal {
	height: 100%;
}

.detailed-pic-modal-img img {
	height: 100%;
	width: 500px;
}

.detailed-pic-modal-right {
	height: 500px;
	border-left: 1px solid #f0ad4e;
}



/*===================================*/
/*======Drinking Buddies Page========*/
/*===================================*/

.drinking-buddies-individual-search {
	background-color: white;
	border-radius: 5px;
	border: 1px lightgrey;
	margin-bottom: 1em;
	padding: 10px;
	min-height: 200px;
}

.drinking-buddies-selected-profile-pic {
	height: 150px;
	width: 150px;
}

.drinking-buddies-entry-display {	
	padding: 1em;
}

.drinking-buddies-entry-display-img-row h4 {
	margin: .3em auto !important;
}

.drinking-buddies-list-header {	
	padding-left: 1.5em;
	padding-top: .75em;
}

.drinking-buddies-selected-content-col {
	position: relative;
	min-height: 226px;
}

.drinking-buddies-individual-image-thumbnail {
	margin-bottom: 0;	
	margin-bottom: 1em;
	min-height: 184px;
	padding: 0 4px;
	border: 0;
	border-radius: 0;
}

.drinking-buddies-individual-image {
	height: 170px;
	width: 170px;	
	margin-right: 2em;	
	margin-bottom: 0;
	border-left: 4px solid #f0ad4e;
	border-top: 4px solid #337ab7;
}

.drinking-buddies-individual-description {
	text-indent: 15px;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 38px;     /* fallback */
  max-height: 38px;      /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;

}

.drinking-buddies-rating-small {
	margin-bottom: 3px;
	font-size: 13px;
}

.drinking-buddies-rating-published {
	bottom: 0 !important;
	position: absolute;
	margin-left: 5px;
}

.drinking-buddies-rating-published > .lead {
	font-size: 14px;
}

.drinking-buddies-selected {
	overflow: scroll;
	max-height: 500px;
}

.drinkingBuddies-search-result {
	margin-top: 2em;
}

.drinkingBuddies-input {
	background-color: white;
	border-radius: 5px;
	padding-top: 1em;
}

.drinking-buddies-following-list-col {
	padding: 2em;
}

.drinking-buddies-individual-row {
	background-color: white;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 5px;
}

.individual-search-row {
	margin-left: 2em;
	margin-right: 2em;
}



/*=================================*/
/*===========Globe Page============*/
/*=================================*/

#map {
	height: 100%;
}

#globe-input {
	margin-bottom: 1em;
}

.globe-selected-fieldJournal-location {
	border: 2px solid lightblue;
}


/*================================*/
/*===========Map Modal============*/
/*================================*/

.map-modal-entry-list {
	margin: 10px;
	background-color: white;
	max-height: 550px;
	overflow: scroll;
}

.map-modal-entry-list-individual {
	margin: 0 15px 2em !important;;
}

.drinkingBudies-modal-title {
	margin-top: 1em !important;
	margin-bottom: .25em !important;
}

.drinking-buddies-map-modal-details li {
	font-size: 18px;
}

.drinking-buddies-map-modal-details h4 {
	margin-bottom: .5em !important;
}

.drinking-buddies-map-modal-details p {
	margin-bottom: 0 !important;
}

.drinking-buddies-map-and-details {
	margin-bottom: 2em;
}



/*================================*/
/*===========Pic Modal============*/
/*================================*/


.choose-profile-pic-row {
	position: relative;
	display: table-row;
}

#cropped-image {
	height: 275px;
	width: 275px;
}

.profile-pic-modal-col {
	float: none;
  display: table-cell;
  vertical-align: bottom;
}

.profile-pic-modal-pic-example {
	width: 275px;
	height: 275px;
	margin: auto;
	background-color: lightgrey;
}

.bob-ross-example {
	width: 275px;
	height: 275px;
	background-image: url('../images/bob-ross.jpg');
	border: 1px solid tan;
	margin: auto;
}













