<h3 class="text-center"><a>Drinking Buddies State</a></h3>

<div class="drinkingBuddies-modal-parent">
</div>


<div class="row">
	<div class="col-xs-1">
		<button ng-click="changeBackground('field-journal')" type="button" class="btn btn-default pull-right"
						uib-popover="Field Journal"
						popover-placement="top-right"
						popover-trigger="'mouseenter'"><span class="glyphicon glyphicon-chevron-left"></span></button>
	</div>
	<div class="col-xs-1 pull-right">
		<button ng-click="changeBackground('main')" type="button" class="btn btn-default"
						uib-popover="Main"
						popover-placement="top-left"
						popover-trigger="'mouseenter'"><span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
</div>

<uib-tabset active="activeJustified" justified="true">

  <uib-tab index="0" heading="Drinking Buddies"
  				 ng-click="resetSearchInput()">
  	<div class="col-xs-10 col-xs-offset-1 state-views">
			<form>
			  <div class="form-group">
			    <label for="drinking-buddies-searchFriends">Search for yo buddies</label>
			    <input type="text" class="drinking-buddies-searchFriends"
			    			 ng-model="searchText">        
			  </div>
			</form>	
			<div class="row">
				<div ng-if="!selectFollower"
						 ng-repeat="buddy in drinkingBuddies | filter:searchText"
						 ng-include="'partials/DrinkingBuddiesFollowingList.html'" scope="" onload=""></div>						
			</div>

			<div ng-if="selectFollower">
				<div class="row">
					<div class="col-xs-3">
						<button type="button" class="btn btn-default"
										ng-click="backToDisplayAllView()">Back</button>
					</div>
				</div>
				<div ng-include="'partials/IndividualProfileSearch.html'" scope="" onload=""></div>
			</div> 

		</div>
  </uib-tab>



  <uib-tab index="1" heading="Search All">
  	<div class="col-xs-10 col-xs-offset-1 state-views">
			<form>
			  <div class="form-group">
			    <label for="drinking-buddies-searchFriends">Search for yo buddies</label>
			    <input type="text" class="drinking-buddies-searchFriends" placeholder="Username/First Name/Last Name" 
			    			 ng-keyup="updatePopover($event)" 
			    			 ng-model="searchText" 
			    			 ng-focus="firebaseCallToUsers()"
			    			 uib-popover-template="hey"  
			    			 popover-placement="bottom-left"
			    			 popover-trigger="'focus'" class="form-control">        
			  </div>
			</form>			
			<div  ng-include="'partials/IndividualProfileSearch.html'" scope="" onload=""
						ng-show="currentSearch"></div>
		</div>
  </uib-tab> 

</uib-tabset>





