<h2 class="text-center"><a class="state-heading">Drinking Buddies</a></h2>

<div class="drinkingBuddies-modal-parent">
</div>


<div class="row">
	<div class="col-xs-1">
		<button ng-click="changeBackground('field-journal')" type="button" class="btn btn-default pull-right"
						uib-popover="Field Journal"
						popover-placement="top-right"
						popover-trigger="'mouseenter'"><span class="glyphicon glyphicon-chevron-left"></span></button>
	</div>
	<div class="col-xs-1 pull-right">
		<button ng-click="changeBackground('main')" type="button" class="btn btn-default"
						uib-popover="Main"
						popover-placement="top-left"
						popover-trigger="'mouseenter'"><span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
</div>

<uib-tabset style="margin-top: 2em;" active="activeForm">

  <uib-tab index="0" heading="Drinking Buddies"
  				 ng-click="resetSearchInput()">
  	<div class="row">
	  	<div class="col-xs-6 col-xs-offset-1 state-views drinkingBuddies-input">
				<form>
				  <div class="form-group">
				    <label for="drinking-buddies-searchFriends">Search for yo buddies</label>
				    <input type="text" class="drinking-buddies-searchFriends"
				    			 ng-model="searchText">        
				  </div>
				</form>	
				<div ng-if="selectFollower">
					<div class="col-xs-3 pull-right">
						<button type="button" class="btn btn-default"
										ng-click="backToDisplayAllView()">Back</button>
					</div>
				</div>
			</div>
  		
  	</div>

		<div class="row" style="margin-top: 2em">
			<div ng-if="!selectFollower"
					 ng-repeat="buddy in drinkingBuddies | filter:searchText"
					 ng-include="'partials/DrinkingBuddiesFollowingList.html'" scope="" onload=""></div>						
		</div>

		<div ng-if="selectFollower">
			<div class="row" style="margin-top: 2em">
				<div class="col-xs-3">
					<button type="button" class="btn btn-default"
									ng-click="backToDisplayAllView()">Back</button>
				</div>
			</div>
			<div ng-include="'partials/IndividualProfileSearch.html'" scope="" onload=""></div>
		</div> 
  </uib-tab>



  <uib-tab index="1" heading="Search All">
  	<div class="row">
	  	<div class="col-xs-6 col-xs-offset-1 state-views drinkingBuddies-input">
				<form>
				  <div class="form-group">
				    <label for="drinking-buddies-searchFriends">Search for yo buddies</label>
				    <input type="text" class="drinking-buddies-searchFriends"
				    			 ng-keyup="updatePopover($event)" 
				    			 ng-model="searchText" 
				    			 ng-focus="firebaseCallToUsers()"
				    			 uib-popover-template="hey"  
				    			 popover-placement="bottom-left"
				    			 popover-trigger="'focus'" class="form-control">        
				  </div>
				</form>			
			</div>  		
  	</div>
  	<div class="row" style="margin-top: 2em">
			<div  ng-include="'partials/IndividualProfileSearch.html'" scope="" onload=""
						ng-show="currentSearch"></div>  		
  	</div>
  </uib-tab> 

</uib-tabset>





