<div class="row">
	This should be showing
	<div class="col-xs-4">Here are your reviews on {{selectedGlobeLocation[0].location_title}}</div>
	<div ng-repeat="location in selectedGlobeLocation" class="row globe-selected-fieldJournal-location">
		<h3 class="text-middle">{{location.review_title}}</h3>
		<p>Rating: {{location.user_rating}}/Google Rating: {{location.google_rating}}</p>
		<p>Senses: {{location.user_senses}}</p>
		<p>Review Description: {{location.review_description}}</p>
	</div>
</div>