<div class="row">

	<div class="modal-parent">
  </div>
	
	<div class="col-sm-10 col-sm-offset-1">
		<div class="well home-margin-bottom">
			<a ng-click="logout()">Logout</a>
			<div class="col-xs-1 pull-right">
				<button type="button" class="btn btn-xs btn-primary btn-block" ng-click="openSettings()"
								uib-popover="Click me to edit your profile!!" 
								popover-trigger="'mouseenter'"
								popover-placement="bottom-right">
					<span class="glyphicon glyphicon-cog"></span>
				</button>
			</div>
		</div>
	</div>

	<div id="home-container" class="col-sm-10 col-sm-offset-1 well">
		<div id="main-view" target="main-view" class="well">
			<div ng-show="background === 'main'" class="row main-row" ui-view="main"></div>
			<div ng-show="background === 'field-journal'" class="row fieldJournal-row" ui-view="fieldJournal"></div>
			<div ng-show="background === 'drinking-buddies'" class="row drinkingBuddies-row" ui-view="drinkingBuddies"></div>
			<div ng-show="background === 'globe'" class="row globe-row" ui-view="globeView"></div>
		</div>		
	</div>

</div>

