<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h1 class="text-left">This is for new Field Journal Listing</h1>		
	</div>
</div>
<hr>

<div class="row">
	
	<div class="col-xs-6 list-field-journal-containers">		
		<p class="lead">This page is designed to list out all of your field notes that you have taken.
		<ul>
			<li>Field Journal Entry: 1</li>
			<li>Field Journal Entry: 2</li>
			<li>Field Journal Entry: 3</li>
			<li>Field Journal Entry: 4</li>
			<li>Field Journal Entry: 5</li>
		</ul>
	</div>

  <div class="col-xs-6 list-field-journal-containers">
		<div class="row">
		  <h3>entry.title</h3>
		  <p>entry.description (amongst other things)</p>
		</div>		
	</div>

</div>