<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h1 class="text-left">This is for Listing Recipes / (Stretch goal)</h1>		
	</div>
</div>
<hr>

<div class="row">
	
	<div class="col-xs-6">		
		<p class="lead">This page is designed to display all recipes you have created so far. (based off of drink category chosen above). You have the option to choose a specific recipe, and then compare i tto others or just for review. (STRETCH)<br>
		<ul>
			<li>Recipe 1..</li>
			<li>Recipe 2..</li>
			<li>Recipe 3..</li>
			<li>Recipe 4..</li>
			<li>Recipe 5..</li>
		</ul>
	</div>

  <div class="col-xs-6">
		<div class="row">
		  <h3>recipe.title</h3>
		  <p>recipe.description (amongst other things)</p>
		</div>	
	</div>

</div>