<h2 class="text-center"><a class="state-heading">Profile Page</a></h2>

<div class="modal-profile-pic"></div>
<div class="detailedEntry-modal-parent"></div>
<div class="mainMap-modal-parent"></div>

<div class="row">
	<div class="col-xs-1">
		<button ng-click="changeBackground('drinking-buddies')" type="button" class="btn btn-default pull-right"
						uib-popover="Drinking Buddies"
						popover-placement="top-right"
						popover-trigger="'mouseenter'"><span class="glyphicon glyphicon-chevron-left"></span></button>
	</div>

	<div class="col-xs-1 pull-right">
		<button ng-click="changeBackground('field-journal')" type="button" class="btn btn-default"
						uib-popover="Field Journal"
						popover-placement="top-left"
						popover-trigger="'mouseenter'"><span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1 main-content d-flex state-views">		
		<div class="row">

			<!-- HERE IS YOUR PROFILE DISPLAY -->
			<div class="col-xs-4 main-profile-display text-center">	
				<div class="row">
					<div ng-if="!currentUser.profile_picture" class="main-profile-image thumbnail" style="background-image: url('../../images/bob-ross.jpg')">					
						<button ng-click="changeProfilePicture()" type="button" class="btn btn-default pull-right main-profile-image-camera"
										uib-popover="How about uploading a pic!" 
										popover-trigger="'mouseenter'">
							<span class="glyphicon glyphicon-camera"></span>
						</button>					
					</div>
					<div ng-if="currentUser.profile_picture" class="main-profile-image thumbnail">
						<img id="main-profile-picture" ng-src="{{currentUser.profile_picture}}" alt="">
						<button ng-click="changeProfilePicture()" type="button" class="btn btn-default pull-right main-profile-image-camera profile-image-1"
										uib-popover="Pic change?" 
										popover-trigger="'mouseenter'">
							<span class="glyphicon glyphicon-camera"></span>
						</button>			
					</div>					
				</div>	
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 main-profile-user-description">
						<h3>Welcome back {{currentUser.firstName}}!!</h3>
						<p>Followers: </p>
						<p>Field Journal Entries: </p>
						<p>Places Visited: </p>
					</div>					
				</div>		
			</div>

			<!-- HERE IS YOUR NEWS FEED-->
			<div class="col-xs-8 home-newsfeed" ng-click="imConnected()">			
				<div ng-repeat="entry in fieldJournalEntries" class="row main-newsfeed-fieldjournal" ng-click="showFieldNote(entry, $event)" ng-show="newsfeed">

					<div class="col-xs-7 col-xs-offset-1 main-newsfeed-content-row">
						<div class="row">
							<div class="col-xs-2 main-news-feed-profile-image">
								<img class="main-newsfeed-profile-picture" ng-src="{{entry.profile_picture}}" alt="">						
							</div>

							<div class="col-xs-8 main-newsfeed-entry-descriptions pull-right">
							  <h2><u>{{entry.review_title}}</u></h2>
							  <p>
							  	<a class="newsfeed-entry-location"
							  		 ng-click="openMapModal({lat: entry.lat, lng: entry.lng, place_id: entry.place_id})">Location: {{entry.location_title}}</a>
							 	</p>
							  <div class="drinking-buddies-individual-description lead">
							    <p>{{entry.review_description}}</p>				    	
							  </div>							  
							</div>						
						</div>					
					</div>
					
					<div class="col-xs-3 thumbnail drinking-buddies-individual-image-thumbnail">
					  <img class="drinking-buddies-individual-image" style="border: 0;" 
					  		 ng-src="{{entry.drink_image ? entry.drink_image : '../../images/no_image_available.jpeg' }}">
					</div>
				</div>

				<!-- This is for showing a more detailed version of the user's field journal entry -->
				<div class="row" ng-show="!newsfeed">
					<div class="newsFeed-detailed-view" ng-include="newsFeedDetails" scope="" onload=""></div>		
				</div>					
			</div>	
		</div>		
	</div>
</div>









<!-- <div class="drinking-buddies-rating-published">
							    <h4>Published on <i>{{entry.entry_created | date}}</i>  <br>  				    
							    	<small>Ratings!</small>
							    </h4>
							    <uib-progress max="10">
							    	<uib-bar value="entry.user_rating"><span>{{entry.user_name}}: {{entry.user_rating}}</span></uib-bar>
							    	<uib-bar value="entry.google_rating" type="warning"><span>Google: {{entry.google_rating}}</span></uib-bar>
							    </uib-progress>				    	
							  </div>			 -->				

