<div class="row">	
	<div class="col-xs-10 col-xs-offset-1">

		<div class="row fieldJournal-new-dummy-layout">
			<div class="col-xs-10 col-xs-offset-1 dummyView-col">
				<div ng-include="dummyView" scope="" onload=""></div>				
			</div>
		</div>

		<div class="row new-fieldJournal-overall-row">
			<!-- THIS IS YOUR SIDEBAR -->
			<div class="col-xs-3" style="height: 370px">
				<div class="btn-group-vertical" role="group" aria-label="...">
				 	<button type="button" class="btn btn-default btn-lg btn-block"
				 					ng-repeat="step in steps"
				 					ng-click="changeStep(step)">{{step.name}}</button>	
				 	<button type="button" class="btn btn-primary btn-lg btn-block"
				 					ng-click="newFieldJournalEntry()">All done!</button>			 	
				</div>
			</div>

			<!-- THIS IS YOUR MAIN CONTENT --> 
			<div class="col-xs-9" style="height: 370px">
				<div class="row fieldJournal-create-details-row">
					<div class="col-xs-10 col-xs-offset-1 align-items-center"
							 ng-include="selectedStep" scope="" onload="">						
					</div>
				</div>				
			</div>
		</div>	

	</div>
</div>

		