<div class="row">	
	<div class="col-xs-10 col-xs-offset-1">

		<div class="row fieldJournal-new-dummy-layout">
			<div class="col-xs-10 col-xs-offset-1 dummyView-col">
				<div ng-include="dummyView" scope="" onload=""></div>				
			</div>
		</div>

		<div class="row new-fieldJournal-overall-row">
			<!-- THIS IS YOUR SIDEBAR -->
			<div class="col-xs-3" style="height: 370px">
				<div class="btn-group-vertical" role="group" aria-label="...">
				 	<button type="button" class="btn btn-default btn-lg btn-block"
				 					ng-repeat="step in steps"
				 					ng-click="changeStep(step)">{{step.name}}</button>	
				 	<button type="button" class="btn btn-primary btn-lg btn-block"
				 					ng-click="newFieldJournalEntry()">All done!</button>			 	
				</div>
			</div>

			<!-- THIS IS YOUR MAIN CONTENT --> 
			<div class="col-xs-9" style="height: 370px">
				<div class="row fieldJournal-create-details-row">
					<div class="col-xs-10 col-xs-offset-1 align-items-center"
							 ng-include="selectedStep" scope="" onload="">						
					</div>
				</div>				
			</div>
		</div>	

	</div>
</div>

		
			<!-- <div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<form class="form-horizontal register-form">
					  <div class="form-group">				    				    
				      <input type="text" class="form-control" id="drinkTitle" placeholder="Title" ng-model="newDrink.review_title">				    
					  </div>  
					</form>
				</div>
				<div class="col-xs-3 col-xs-offset-3">
					<uib-accordion>
						<div uib-accordion-group class="panel-default" heading="Drink type">
				      <p>I need to put my types in here</p>
				    </div>
					</uib-accordion>	
				</div>
			</div>

			
			<div class="row">
				<div class="col-xs-5" id="tastingWheel-col-container">
					<div id="tastingWheel"
							 ng-mousemove="checkForSenses($event)" 
							 ng-click="updateTastingWheel($event)">			
					</div>
				</div>

				<div class="col-xs-5 col-xs-offset-2">
					<uib-accordion close-others="oneAtATime">

						
				    <div uib-accordion-group class="panel-default" heading="Location">
				    	<div class="row">		
				    		<div class="col-xs-10 col-xs-offset-1">
									<form action="" class="form-horizontal register-form">
										<div class="form-group">				    
								      <input id="newDrinkLocation" type="text" class="form-control" placeholder="Where ya at?"
								              ng-focus="getCurrentLocation()" 
								              ng-model="drinkLocationInput" 
								              ng-keyup="GooglePlacesRequest(drinkLocationInput)"              
								              uib-popover-template="newFieldJournalPopup"
								              popover-placement="bottom-left"              
								              popover-is-open="searchPrediction">  
									  </div>
									</form>	

									<div uib-collapse="!newDrink.google_rating">
									  <h5>Google's Rating</h5>
									  <uib-progressbar max="5" value="5" type="#337ab7"><span style="font-weight: bold; color:#f0ad4e; white-space:nowrap;">{{newDrink.google_rating}} / 5</span></uib-progressbar>
									</div>									    			
				    		</div>					
							</div>
				    </div>

						
						<div uib-accordion-group class="panel-default" heading="Senses">
							<div class="row">
								<div ng-repeat="sense in senses" class="col-xs-6">
						      <p>{{sense}} <span ng-click="removeSense(sense)" class="glyphicon glyphicon-remove"></span></p>
						    </div>
						    <div ng-show="senses.length === 0" class="col-xs-10">
						      <p>Double click the wheel to add <i>tastes</i> or <i>aromas!</i></p>
						    </div>
						  </div>			      
				    </div>				

				    
				    <div uib-accordion-group class="panel-default" heading="Remaining notes">
							<div class="row">
								<textarea placeholder="Anything left?" class="form-control" rows="3" ng-model="newDrink.review_description"></textarea>  
							</div>		
				    </div>
							     
					</uib-accordion>
					
					<h4>What's your rating?</h4>
					<div class="row">
						<div class="col-xs-2" style="height: 54px">
							<h3 class="fieldjournal-new-entry-rating" style="color: #f0ad4e; text-align: right">0</h3>
						</div>
						<div class="col-xs-8">
							<rzslider class="custom-slider"
												rz-slider-model="newDrink.user_rating"																	
			          				rz-slider-options="slider1.options"></rzslider>						
						</div>
						<div class="col-xs-2" style="height: 54px">
							<h3 class="fieldjournal-new-entry-rating" style="color: #337ab7">5</h3>
						</div>					
					</div>

				</div>
			</div>
		</div>
 -->