<div class="row">
	
	<div class="col-xs-6">		
		<p>What to look for in your coffee:</p>
		<ul>
			<li>Sweetness</li>
			<li>Acidity</li>
			<li>Body</li>
			<li>Cleanliness</li>
		</ul>
		<p>Are there grounds in your coffee??</p>
		<p>Can you taste the specific notes??</p>
		<p>Look around you.. Atmosphere?</p>
		<ul>
			<li>Was the barista nice?</li>
			<li>Are there outlets?</li>
			<li>How does the shop make you feel??</li>
			<li>Would you come here to study or on a date?</li>		
		</ul>

	</div>

	<div class="col-xs-6">
		<div class="row">
			<ng-include src="drinkForm" scope="" onload=""></ng-include>			
		</div>
	</div>

</div>