
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h1 class="text-left">This is for new Recipes Creation / Title (Stretch goal)</h1>		
	</div>
</div>
<hr>

<div class="row">
	
	<div class="col-xs-6">		
		<p class="lead">This will contain a list of guidelines to look and check for as you are creating your recipe. All based off of what category drink you are making. This page is very similar to the New Field Notes page (STRETCH)<br>
		<ul>
			<li>What to look for 1..</li>
			<li>What to look for 2..</li>
			<li>What to look for 3..</li>
			<li>What to look for 4..</li>
			<li>What to look for 5..</li>
		</ul>
	</div>

  <div class="col-xs-6">
		<div class="row">
		  <form class="form-inline">	
			  <div class="form-group col-sm-3">	
			  	<div class="no-border-container">	    			  	
			      <input type="text" class="form-control no-border" placeholder="Title..">	    
			    </div>
			  </div>			  
			</form>
		</div>

	  <form class="form-horizontal register-form">
		  <textarea class="form-control" rows="15" ng-model="note.content"></textarea>
		</form>			
	</div>

</div>