
<div class="container">
  <!-- Example row of columns -->
  <div class="row text-center">
    <div class="col-md-4 col-md-offset-2 landing-letters">
      <h1>{{c}}</h1>
    </div>
    <div class="col-md-4 landing-letters">
      <h1>{{b}}</h1>
   </div>
  </div>
  <h2 class="text-center">You are at the root landing page.. Click something else</h2>
  <div class="row text-center">
    <div class="col-md-4 col-md-offset-2 landing-letters">
      <h1>{{w}}</h1>
    </div>
    <div class="col-md-4 landing-letters">
      <h1>{{t}}</h1>
    </div>
  </div>
</div> <!-- /container -->