
<div class="row text-center step3-row1">
	<h3>You remember this</h3>	
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<textarea class="form-control" rows="4" ng-model="editedEntry.review_description"
							placeholder="{{entry.review_description}}"></textarea>  		
	</div>		
</div>

<div class="row text-center step3-row2">
	<h4>What's your rating?</h4>
	<div class="row">
		<div class="col-xs-2" style="height: 54px">
			<h3 class="fieldjournal-new-entry-rating" style="color: #f0ad4e; text-align: right">0</h3>
		</div>
		<div class="col-xs-8">
			<rzslider class="custom-slider"
								rz-slider-model="editedEntry.user_rating"																	
	      				rz-slider-options="slider1.options"></rzslider>						
		</div>
		<div class="col-xs-2" style="height: 54px">
			<h3 class="fieldjournal-new-entry-rating pull-left" style="color: #337ab7">5</h3>
		</div>					
	</div>
</div>
