<div class="text-center" style="margin-top: 1em">
  <h3>Want to add a beautiful picture?</h3>
</div>
    
<div class="row choose-profile-pic-row text-center">		
	<div class="col-md-6 step4-left-side">
    <h4>Show us your latte art, <i>pls</i></h4>	    
		<div class="form-group">
	    <input img-cropper-fileread class="col" type="file" id="step4-img-file" image="cropper.sourceImage">
	  </div> 
	</div>

	<div class="col-md-6">		
		<div class="step4-canvas-container">
			<canvas image-cropper width="208" height="275" id="canvas" image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="170" crop-height="224.67" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
		</div>			      		
	</div>			
</div>  	

 



