<div class="col-xs-8 drinking-buddies-selected-content-col">
  <div class="row drinking-buddies-list-header">
    <h2>{{$parent.entry.review_title}}/{{entry.category}}</h2>
    <p>Location: <a ng-click="openMapModal({lat: $parent.entry.lat, lng: $parent.entry.lng, place_id: $parent.entry.place_id})">{{$parent.entry.location_title}}</a></p>    
  </div>
  <div class="row drinking-buddies-individual-description lead">
    <p>{{$parent.entry.review_description}}</p>				    	
  </div>
  <div class="row drinking-buddies-rating-published">
    <h4>Published on <i>{{$parent.entry.entry_created | date}}</i></h4> 
    <p class="drinking-buddies-rating-small"><i>Ratings!</i></p>    
    <uib-progress max="10">
    	<uib-bar value="5"><span>{{entry.user_name}}: {{entry.user_rating}}</span></uib-bar>
    	<uib-bar value="5" type="warning"><span>Google: {{entry.google_rating}}</span></uib-bar>
    </uib-progress>				    	
  </div>
</div>
<div class="col-xs-3 col-xs-offset-1 thumbnail drinking-buddies-individual-image-thumbnail">
  <img class="drinking-buddies-individual-image" ng-src="{{$parent.entry.drink_image ? '../../images/no_image_available.jpeg' : '../../images/no_image_available.jpeg' }}">
</div>