<div id="detailed-pic-modal" class="row">
	<div class="col-xs-8">
		<div class="detailed-pic-modal-img">
			<img ng-src="../images/no_image_available.jpeg" alt="">											
		</div>
	</div>
	<div class="col-xs-4 detailed-pic-modal-right">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h3 style="display: inline-block;">{{entry.review_title}}</h3>
				<button type="button" class="btn btn-link pull-right fieldJournal-pic-detail-edit-btn">
					<span class="glyphicon glyphicon-option-horizontal"
							ng-click="changeView('EditEntryView.html')"></span>
				</button>					
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>{{entry.location_title}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10">
				<uib-progress max="10">
		    	<uib-bar value="5"><span>{{entry.user_name}}: {{entry.user_rating}}</span></uib-bar>
		    	<uib-bar value="5" type="warning"><span>Google: {{entry.google_rating}}</span></uib-bar>
		    </uib-progress>		
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>Put my senses in hereeeee</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p><b>{{entry.user_name}}</b> {{entry.review_description}}</p>
			</div>
		</div>
		<hr>
		<!-- create a new row for each comment that has been made -->
		<!-- create an array for comments -->
		<div ng-repeat="comment in comments" class="row ">
			<div class="col-xs-9 col-xs-offset-2">
				<p class="lead"><b>{{comment.user_name}}</b> {{comment.description}}</p>
			</div>
		</div>
	</div>
</div>