<div class="col-xs-6">
<div class="row">
  <form class="form-horizontal register-form">
    <div class="form-group">
      <label for="drinkTitle" class="col-sm-4 control-label">{{category}} Origin/Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="drinkTitle" placeholder="{{coffeeStyles[0]}}" ng-model="$parent.newDrink.title">
      </div>
    </div>  
    <div class="form-group">
      <label for="location" class="col-sm-4 control-label">Where ya at??: </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="location" placeholder="Starbucks?? Nah.." ng-model="$parent.newDrink.location">
      </div>
    </div>
    <div class="form-group">
      <label for="rating" class="col-sm-4 control-label">Rating: </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="rating" placeholder="1-5 pls" ng-model="$parent.newDrink.rating">
      </div>
    </div>
    <textarea class="form-control" rows="6" ng-model="$parent.newDrink.remainingNotes"></textarea> 
    <div class="row">
      <label for="publicPrivate"></label>
      <select ng-model="$parent.newDrink.public" id="publicPrivate" class="form-control">
        <option ng-value="true">Yes</option>
        <option ng-value="false">No</option>      
      </select>    
    </div>
  </form> 
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-4">
    <button type="button" class="btn btn-primary btn-block" ng-click="$parent.newFieldJournalEntry()">Add Entry</button> 
  </div>        
</div>
